:root {
  --primary: #a32df1;
  --secondary: #19f1ac;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
  background: white;
}

header .con {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #444;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

